<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SGS</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage-greenhouse">
                <span class="oi oi-home" aria-hidden="true"></span> Greenhouse
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage-sensors">
                <span class="oi oi-wifi" aria-hidden="true"></span> Sensors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage-plants">
                <span class="oi oi-tag" aria-hidden="true"></span> Plants
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
