@page "/"

<h1>Smart Greenhouse System</h1>

<hr />

<div class="row">
    <div class="col-6">
        <h5>Current conditions</h5>
        <hr />

    </div>

    <div class="col-6">
        <h5>Cultivated plants</h5>
        <hr />

    </div>

</div>
